<div class="row loginRow">

  <div class="col-1 col-md-4"></div>

  <div class=" col-10 col-md-4 ">
    <div class="cuadroLogin">

  <div class="divImagenUser">

    <img src="assets/userFileLan.png" id="imagenUserFileLan" alt="Smiley face" height="90px" width="90px">

</div>

    <form (ngSubmit)="login()" #formIngreso ="ngForm" >
      <label class="textosLogin" for="cuentaUsuario" >Usuario</label>

        <input class="inputsLogin" id="cuentaUsuario" type="text" placeholder="Usuario" 
        name="cuentaUsuario" ngModel>

        <label class="textosLogin"  for="contrasenaUsuario">Contraseña</label>

        <input class="inputsLogin" placeholder="Contrasena" type="password"
         id="contraseñaUsuario" name="contrasenaUsuario" ngModel >
        <br>
          <h3  class="textoIrRegistro" (click)="irRegistro()"> Registro</h3>

      
          <button id="btnIngresar" type="submit">Ingresar</button>

      </form>
      </div>

  </div>

  <div class="col-1 col-md-4"></div>


</div>
