<div class="row loginRow">

  <div class="col-1 col-md-4"></div>

  <div class=" col-10 col-md-4 ">
    <div class="cuadroLogin">

  <div class="divImagenUser">

    <img src="assets/userFileLan.png" id="imagenUserFileLan" alt="Smiley face" height="90px" width="90px">

</div>

      <h4 class="textosLogin">Usuario</h4>

      <input class="inputsLogin" type="text" placeholder="Usuario" name="" value="">

      <h4 class="textosLogin" id="contraseñaLogin">Contraseña</h4>

      <input class="inputsLogin" placeholder="Contraseña" type="password" name="" value="">
      <br>

      <input type="button" id="btnIngresar" name="" value="Ingresar">
    </div>

  </div>

  <div class="col-1 col-md-4"></div>


</div>
